{% load static %}
<!doctype html>
<html lang="fa" dir="rtl" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبلاگ محمد</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
  </head>
  

  <body>
    <div class="layout">
      <!-- ستون سفید سمت چپ -->
      <div class="left-space"></div>

      <!-- محتوای اصلی -->
      <main class="content">
        <h1 class="page-title">آخرین مقالات</h1>
        <div class="search-box">
          <input type="text" placeholder="جستجو در مقالات..." />
        </div>

       {% include "home/includes/posts.html" %}
         
       {% include "home/includes/pagination.html" %}
 
      </main>

      <!-- سایدبار راست -->
        {% include "home/includes/sidebar.html" %}
    </div>
    <script src="{% static 'home/js/home.js' %}" defer></script>

  </body>
</html>
