{% load static %}
<!doctype html>
<html lang="fa" dir="rtl" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تماس با من</title>

    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/contact.css' %}">
</head>

<body>
    <div class="layout">

        <!-- ستون سفید -->
        <div class="left-space"></div>

        <!-- محتوای صفحه تماس -->
        <main class="content">

       
        </main>

        <!-- سایدبار -->
        {% include "home/includes/sidebar.html" %}
    </div>

    <script src="{% static 'home/js/home.js' %}" defer></script>
</body>

</html>
