*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"IRZar","Tahoma",sans-serif;
  background:#f9f9f9;
  color:#222;
}

h1, h2, h3, .post-title{
  font-family: "IRZar", serif;
}


a h2,
a p {
  position: relative;
  display: inline-block;
  transition: color .25s ease;
}

a h2::after,
a p::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #222;
  transform: scaleX(0);
  transform-origin: right;
  transition:
    transform .25s ease,
    background-color .25s ease;
}

a:hover h2::after,
a:hover p::after {
  transform: scaleX(1);
}

a:active h2::after,
a:active p::after {
  background-color: #ae7e47;
}

a:focus h2::after,
a:focus p::after {
  background-color: #ae7e47;
}









/* Container */
.msg-container {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 320px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Elegant Card */
.msg-card {
    background: #ffffff;
    color: #333;
    padding: 14px 18px;
    border-radius: 12px;
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    opacity: 0;
    transform: translateY(-8px);
    animation: fadeSlideIn 0.5s ease forwards;
}


.msg-text {
    flex: 1;
    text-align: right;
}


/* Success – سبز ملایم */
.msg-card.success {
    border-right: 6px solid #3cb371;
}

/* Error – قرمز شیک */
.msg-card.error {
    border-right: 6px solid #d9534f;
}

/* Info – آبی */
.msg-card.info {
    border-right: 6px solid #0275d8;
}

/* Warning – زرد */
.msg-card.warning {
    border-right: 6px solid #f0ad4e;
}

/* Close button */
.msg-close {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f0f0f0;
    border: none;
    cursor: pointer;
    font-size: 11px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s, color 0.2s;
    line-height: 1;
    padding: 0;
}

.msg-close:hover {
    background: #e0e0e0;
    color: #333;
}

/* fade-out animation */
.fade-out {
    animation: fadeOut 0.5s forwards ease;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-8px);
    }
}



