{% load static %}
<!doctype html>
<html lang="fa" dir="rtl" class="no-js">



<head>

    <meta charset="UTF-8" />

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    
    <title>{% block title %}سایت شخصی{% endblock %}</title>

    <!-- CSS های عمومی -->
   <link rel="stylesheet" href="{% static 'core/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'core/css/base.css' %}">
<link rel="stylesheet" href="{% static 'core/css/layout.css' %}">
<link rel="stylesheet" href="{% static 'core/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'core/css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'core/css/footer.css' %}">

<!-- CKEditor Global Styles -->
<link rel="stylesheet" href="{% static 'core/css/ckeditor.css' %}">
    {% block extra_css %}{% endblock %}
</head>



<body>
    <div class="layout">

        <!-- ستون سفید -->
        <div class="left-space"></div>

        <!-- محتوای اصلی -->
        <main class="content">
            {% block content %}{% endblock %}
            {% include "includes/footer.html" %}
        </main>

        <!-- سایدبار -->
        {% include "includes/sidebar.html" %}
    </div>

    <!-- JS عمومی -->
    <script src="{% static 'home/js/home.js' %}" defer></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
