.page-title{
  font-size:32px;
  margin-bottom:40px;
}

.post{
  padding:25px 0;
  border-bottom:1px solid #e5e5e5;

  opacity:0;
  transform:translateY(20px);

  transition:opacity .6s ease, transform .6s ease;
  will-change: opacity, transform;
}

.post:last-of-type {
  border-bottom: none;
}

.post.show{
  opacity:1;
  transform:translateY(0);
}
.no-js .post{
  opacity:1;
  transform:none;
}

.post:hover{
  background:#fafafa;
}

.post h2{
  font-size:20px;
  margin-bottom:8px;
  color:#333;
  transition:color 0.25s ease;
  cursor:pointer;
}

.post h2:hover{
  color:#000;
}

.post p{
  color:#666;
  margin-bottom:8px;
}

.date{
  font-size:13px;
  color:#999;
}













/* Container */
/* .msg-container {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 320px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Elegant Card */
/* .msg-card {
    background: #ffffff;
    color: #333;
    padding: 16px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.15);
    position: relative;
    font-size: 15px;
    line-height: 1.6;

    opacity: 0;
    transform: translateY(-8px);
    animation: fadeSlideIn 0.5s ease forwards;
} */

/* Success – سبز ملایم */
/* .msg-card.success {
    border-right: 6px solid #3cb371;
} */

/* Error – قرمز شیک */
/* .msg-card.error {
    border-right: 6px solid #d9534f;
} */

/* Info – آبی */
/* .msg-card.info {
    border-right: 6px solid #0275d8;
} */

/* Warning – زرد */
/* .msg-card.warning {
    border-right: 6px solid #f0ad4e;
} */

/* Close button */
/* .msg-close {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 20px;
    cursor: pointer;
    color: #666;
    transition: 0.3s;
} */

/* .msg-close:hover {
    color: #000;
} */ 

/* fade-out animation */
/* .fade-out {
    animation: fadeOut 0.5s forwards ease;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-8px);
    }
} */



