.page-title{
  font-size:32px;
  margin-bottom:40px;
}

.post{
  padding:25px 0;
  border-bottom:1px solid #e5e5e5;

  opacity:0;
  transform:translateY(20px);

  transition:opacity .6s ease, transform .6s ease;
  will-change: opacity, transform;
}

.post:last-of-type {
  border-bottom: none;
}

.post.show{
  opacity:1;
  transform:translateY(0);
}
.no-js .post{
  opacity:1;
  transform:none;
}

.post:hover{
  background:#fafafa;
}

.post h2{
  font-size:20px;
  margin-bottom:8px;
  color:#333;
  transition:color 0.25s ease;
  cursor:pointer;
}

.post h2:hover{
  color:#000;
}

.post p{
  color:#666;
  margin-bottom:8px;
}

.date{
  font-size:13px;
  color:#999;
}














