      {% load static %}
      <aside class="sidebar">
        <div class="profile">

          {% if mohammad.avatar %}
          <img src="{{ mohammad.avatar.url }}" alt="profile" class="avatar" />
          {% endif %}

            <h2>{{ mohammad.get_full_name }}</h2>
          
          <p class="bio">{{ mohammad.bio }}</p>
        </div>

        <nav>

            <ul class="sidebar-nav">
            <li><a href="{% url 'home:homepage' %}">صفحۀ اصلی</a></li>
              <li><a href="{% url 'home:about' %}">درباره من</a></li>
              <li><a href="{% url 'blog:blog' %}">وبلاگ</a></li>
              <li><a href="{% url 'home:projects' %}">پروژه‌ها</a></li>
              <li><a href="{% url 'home:contact' %}">تماس</a></li>
            </ul>

        </nav>

        <div class="socials">
          <a href="#">GitHub</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
          <a href="#">YouTube</a>
          <a href="#">Telegram</a>
        </div>
      </aside>